<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
<!--    <meta charset="UTF-8">-->
    <title>Bass Care</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<ul>
    <li><h1>Welcome to Bass Care</h1></li>
    <li><a th:href="@{/users}"></a></li>
    <li><a th:href="@{/register}">Register</a></li>
    <li><a th:href="@{/login}">Log In</a></li>
</ul>
<div id="content_div">
    <div class="collapsible">
        <button type="button">Appointments</button>
        <section class="content" th:each="appointment: ${appointmentList}">
            <p th:text="${appointment.appointmentDetails}"></p>
        </section>
    </div>

    <div class="collapsible">
        <button type="button">Notes</button>
        <section class="content">
            <p class="text-spacing">Notes that a doctor would write
                as they are the doctor writing the note. ;)
            </p>
        </section>
    </div>
</div>
</body>
<script th:src="@{main.js}"></script>
</html>